doctype html
html(lang='zh-cn')
    head
        meta(charset='utf-8')
        title company
        block link
    body
        block header
        block content
        block footer
        block script
